<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MPCEE PSI</title>
    <link href="http://fonts.cdnfonts.com/css/skia" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/lottiefiles.css" type="text/css" media="all">
    <style>
        @import url('http://fonts.cdnfonts.com/css/skia');
    </style>
    <style>
        a:link {
            color: #222222;
            text-decoration: none;
        }

        a:visited {
            color: #222222;
            text-decoration: none;
        }

        a:hover {
            color: #222222;
            text-decoration: none;
        }

        #background1 {
            width: 100%;
            height: 0;
            padding: 0;
            padding-bottom: 4%;
            position: relative;
        }

        #background2 {
            width: 100%;
            height: 0;
            padding: 0;
            padding-bottom: 30%;
            position: relative;
        }

        #background3 {
            width: 100%;
            height: 0;
            padding: 0;
            padding-bottom: 45%;
            position: relative;
        }

        #line1 {
            border: 1px dashed #747474;
            height: 0;
            width: 64vw;
            left: 18vw;
            position: absolute;
            opacity: 0.3;
            top: 0vw;
        }
    </style>
</head>

<body style="margin: 0;">
    <div id="background1">
        <p
            style="font-family: 'Skia', sans-serif;position: absolute;top: -0.5vw;left: 18vw;font-size: 2vw;font-weight: 600;">
            <a href="/" style="text-decoration:none">Mpcee PSI</a>
        </p>
    </div>

    <div id="background2">
        <div style="left:24.3vw;top:1.5vw;position: absolute;">
            <img src="../static/image/a1.png" style="width:50vw">
        </div>

        <div class="outline-none bg-purple-white rounded-full w-full border-0 md:p-3 pb-2 relative"
            style="width: 20vw;left:29vw;top:9vw;position: absolute;font-family: 'Skia', sans-serif;height:2.4vw">
            <input id="searchinput" type="search" name="q" autocomplete="off" placeholder="Search for participant"
                v-model="search"
                class="search_field trans trans-slow outline-none text-sm transition hover:bg-grey-light focus:bg-lf-teal focus:text-white focus:font-bold bg-lf-bg rounded-lg shadow-sm w-full w-full border p-3 pl-10">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                y="0px" viewBox="0 0 52.966 52.966" xml:space="preserve"
                class="h-4 text-dark absolute text-grey-darker pin-l pin-t opacity-50 mx-4 my-3 md:mx-6 md:my-6">
                <path d="M51.704,51.273L36.845,35.82c3.79-3.801,6.138-9.041,6.138-14.82c0-11.58-9.42-21-21-21s-21,9.42-21,21s9.42,21,21,21
c5.083,0,9.748-1.817,13.384-4.832l14.895,15.491c0.196,0.205,0.458,0.307,0.721,0.307c0.25,0,0.499-0.093,0.693-0.279
C52.074,52.304,52.086,51.671,51.704,51.273z M21.983,40c-10.477,0-19-8.523-19-19s8.523-19,19-19s19,8.523,19,19
S32.459,40,21.983,40z"></path>
            </svg>
        </div>
        <div id="b1" style="left: 52vw;top: 9.75vw;position: absolute;">
            <button id="button1"
                style="height:40px;font-family: 'Skia', sans-serif;font-weight: 600;width:7vw;height:2.4vw"
                onclick="search(0)"
                class="py-3 px-8 mx-0 text-base rounded-lg text-white trans bg-lf-teal hover:bg-lf-teal-dark-3 hover:shadow-lg-teal font-lf-semi-bold flex-no-shrink">initiator
            </button>
        </div>
        <div id="b2" style="left: 61.2vw;top: 9.75vw;position: absolute;">
            <button id="button2"
                style="height:40px;font-family: 'Skia', sans-serif;font-weight: 600;width:8vw;height:2.4vw"
                onclick="search(1)"
                class="py-3 px-8 mx-0 text-base rounded-lg text-white trans bg-lf-teal hover:bg-lf-teal-dark-3 hover:shadow-lg-teal font-lf-semi-bold flex-no-shrink">participant
            </button>
        </div>
        <div id="icon1" style="left:39vw;top:16vw;position: absolute;opacity: 0.35;">
            <svg t="1649828859353" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
                p-id="3077" width="6vw" height="5.4vw">
                <path
                    d="M928 736H800V608c0-16-12.8-32-32-32s-32 12.8-32 32v128H608c-16 0-32 12.8-32 32s12.8 32 32 32h128v128c0 16 12.8 32 32 32s32-12.8 32-32V800h128c16 0 32-12.8 32-32s-12.8-32-32-32zM768 320c0-140.8-115.2-256-256-256S256 179.2 256 320c0 89.6 44.8 169.6 115.2 214.4C192 592 64 761.6 64 960h64c0-211.2 172.8-384 384-384 140.8 0 256-115.2 256-256zM512 512c-105.6 0-192-86.4-192-192s86.4-192 192-192 192 86.4 192 192-86.4 192-192 192z"
                    p-id="3078"></path>
            </svg>
        </div>
        <p id="initiator"
            style="font-family: 'Skia', sans-serif;font-weight: 600;position: absolute;top: 20.8vw;left: 40.2vw;font-size: 0.9vw;color: #aaaaaa;width: 40vw;line-height: 1.5;text-align: justify;">
            initiator
        </p>
        <div id="icon2" style="left:53vw;top:16vw;position: absolute;opacity: 0.35;">
            <svg t="1649828859353" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
                p-id="3077" width="6vw" height="5.4vw">
                <path
                    d="M928 736H800V608c0-16-12.8-32-32-32s-32 12.8-32 32v128H608c-16 0-32 12.8-32 32s12.8 32 32 32h128v128c0 16 12.8 32 32 32s32-12.8 32-32V800h128c16 0 32-12.8 32-32s-12.8-32-32-32zM768 320c0-140.8-115.2-256-256-256S256 179.2 256 320c0 89.6 44.8 169.6 115.2 214.4C192 592 64 761.6 64 960h64c0-211.2 172.8-384 384-384 140.8 0 256-115.2 256-256zM512 512c-105.6 0-192-86.4-192-192s86.4-192 192-192 192 86.4 192 192-86.4 192-192 192z"
                    p-id="3078"></path>
            </svg>
        </div>
        <p id="participant"
            style="font-family: 'Skia', sans-serif;font-weight: 600;position: absolute;top: 20.8vw;left: 53.7vw;font-size: 0.9vw;color: #aaaaaa;width: 40vw;line-height: 1.5;text-align: justify;">
            participant
        </p>
        <div id="button3" style="left: 61vw;top: 25vw;position: absolute;">
            <button
                style="height:40px;font-family: 'Skia', sans-serif;background-color:#d5d5d5;font-weight: 600;width:8vw;height:2.4vw"
                class="py-3 px-8 mx-0 text-base rounded-lg text-white trans bg-lf-teal hover:bg-lf-teal-dark-3 hover:shadow-lg-teal font-lf-semi-bold flex-no-shrink">next
                step
            </button>
        </div>
    </div>

    <div id="background3">
        <div id="line1"></div>
        <p
            style="font-family: 'Skia', sans-serif;position: absolute;top: 2vw;left: 30vw;font-size: 1vw;color: #050505;width: 40vw;line-height: 1.5;text-align: justify;">
            Private set intersection is a secure multi-party computation cryptographic technique that allows two parties
            holding sets to compare encrypted versions of these sets in order to compute the intersection. In this
            scenario, neither party reveals anything to the counterparty except for the elements in the intersection.
        </p>
        <p
            style="font-family: 'Skia', sans-serif;position: absolute;top: 10vw;left: 30vw;font-size: 1vw;color: #050505;width: 40vw;line-height: 1.5;text-align: justify;">
            Based on TEE, we implement this application, and all parties need to follow the following rules:
        </p>
        <p
            style="font-family: 'Skia', sans-serif;position: absolute;top: 13.5vw;left: 30vw;font-size: 1vw;color: #050505;width: 40vw;line-height: 1.5;text-align: justify;">
            1. Search for a user through the search box and determine his role (initiator or participant), then the
            remaining party (ie himself) will be assigned the remaining role.
        </p>
        <p
            style="font-family: 'Skia', sans-serif;position: absolute;top: 17vw;left: 30vw;font-size: 1vw;color: #050505;width: 40vw;line-height: 1.5;text-align: justify;">
            2. Both parties upload an Excel file in a predetermined format to complete the intersection calculation.
            Columns with the same field need to be specially identified, hereby "common". The data format needs to meet
            the following requirements:
        </p>
        <img src="../static/image/table.png" style="left:30vw;width:40vw;top:23.5vw;position:absolute;">

        <p
            style="font-family: 'Skia', sans-serif;position: absolute;top: 42vw;left: 44vw;font-size: 0.9vw;color: #999999;width: 12vw;line-height: 1.5;text-align: justify;">
            Emison Lu & Lynn Zhang</p>
    </div>

    <div style="left:6vw;top:3vw;position: fixed;width: 5vw;height:5vw;">
        <a href="/">
            <lord-icon src="https://cdn.lordicon.com/jvucoldz.json" trigger="hover"
                colors="primary:#4a4a4a,secondary:#747474" style="width:3.5vw;height:3.5vw">
            </lord-icon>
        </a>
    </div>

    <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
    <script src="/static/js/jquery.js"></script>
    <script src="https://cdn.sheetjs.com/xlsx-0.18.5/package/dist/xlsx.full.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/node-forge@0.7.0/dist/forge.min.js"></script>

    <script>
        var initiator;
        var participant;
        var username = sessionStorage.getItem("userName");

        function search(flag) {
            'use strict';

            var user = document.getElementById('searchinput').value;
            var owner = sessionStorage.getItem("userName");

            if (typeof user == "undefined" || user == null || user == "") {
                alert("Input can not be empty!");
                window.location.href = '/psi';
                return;
            }
            if (owner.toLowerCase() == user.toLowerCase()) {
                alert("The input username cannot be yourself");
                window.location.href = '/psi';
                return;
            }

            if (flag == 0) {
                initiator = user;
                participant = owner;
            } else {
                initiator = owner;
                participant = user;
            }

            $.ajax({
                url: "/psi_search",
                method: "POST",
                async: false,
                data: { "initiator": initiator, "participant": participant, "flag": flag },
                success: function (data) {
                    if (data.res === "1") {
                        document.getElementById('searchinput').value = "";

                        var button1 = document.getElementById("button1");
                        button1.style.backgroundColor = "#d5d5d5"
                        button1.onclick = "";

                        var button2 = document.getElementById("button2");
                        button2.style.backgroundColor = "#d5d5d5";
                        button2.onclick = "";

                        var button3 = document.getElementById("button3");
                        button3.innerHTML = '<button onclick="check()" style="height:40px;font-family: \'Skia\', sans-serif;font-weight: 600;width:8vw;height:2.4vw" class="py-3 px-8 mx-0 text-base rounded-lg text-white trans bg-lf-teal hover:bg-lf-teal-dark-3 hover:shadow-lg-teal font-lf-semi-bold flex-no-shrink">Check</button>';

                        var icon1 = document.getElementById("icon1");
                        icon1.style.opacity = 1;
                        icon1.innerHTML = "<img src='../static/image/user/" + randomNum(1, 22) + ".png' style='width:5.7vw;opacity:1'>";
                        var icon2 = document.getElementById("icon2");
                        icon2.style.opacity = 1;
                        icon2.innerHTML = "<img src='../static/image/user/" + randomNum(1, 22) + ".png' style='width:5.7vw;opacity:1'>";

                        document.getElementById("initiator").innerHTML = "initiator(" + initiator + ")";
                        document.getElementById("participant").innerHTML = "participant(" + participant + ")";

                        return;
                    } else {
                        alert(data.message);
                        window.location.href = '/psi';
                        return;
                    }
                }
            });
        }

        function randomNum(minNum, maxNum) {
            switch (arguments.length) {
                case 1:
                    return parseInt(Math.random() * minNum + 1, 10);
                    break;
                case 2:
                    return parseInt(Math.random() * (maxNum - minNum + 1) + minNum, 10);
                    break;
                default:
                    return 0;
                    break;
            }
        }

        function check() {
            var background2 = document.getElementById("background2");
            background2.innerHTML = '<div style="left:24.3vw;top:1.5vw;position: absolute;"><img src="../static/image/a2.png" style="width:50vw"></div><div style="left: 42.5vw;top: 7vw;position: absolute;"><img src="../static/image/load.gif" style="width:15vw"></div> <p style="font-family: \'Skia\', sans-serif;position: absolute;top: 19vw;left: 46.4vw;font-size: 0.9vw;color: #999999;width: 12vw;line-height: 1.5;text-align: justify;">Waiting for check...</p><div id="button3" style="left: 61vw;top: 25vw;position: absolute;"><button style="height:40px;font-family: \'Skia\', sans-serif;background-color:#d5d5d5;font-weight: 600;width:8vw;height:2.4vw" class="py-3 px-8 mx-0 text-base rounded-lg text-white trans bg-lf-teal hover:bg-lf-teal-dark-3 hover:shadow-lg-teal font-lf-semi-bold flex-no-shrink">Compute</button></div>';

            var user1 = participant.toLowerCase() + '_participant';
            var user2 = initiator.toLowerCase() + '_initiator';
            if (username.toLowerCase() == initiator.toLowerCase()) {
                user1 = initiator.toLowerCase() + '_initiator';
                user2 = participant.toLowerCase() + '_participant';
            }

            $.ajax({
                url: "/psi_check",
                method: "POST",
                async: true,
                data: { "user1": user1, "user2": user2 },
                success: function (data) {
                    if (data.res === "1") {
                        document.getElementById("background2").innerHTML = '<div style="left:24.3vw;top:1.5vw;position: absolute;"><img src="../static/image/a2.png" style="width:50vw"></div><div style="left:42vw;top:8vw;position:absolute;"><button type="button" onclick="upfile.click()" style="padding:0;margin:0;background-color:white"><img src="../static/image/upload.gif" style="width:16vw"></button><input type="file" id="upfile" accept=\'\' onchange="uploadFile()" style="visibility: hidden; position: absolute;"></div><div id="button3" style="left: 61vw;top: 25vw;position: absolute;"><button style="height:40px;font-family: \'Skia\', sans-serif;background-color:#d5d5d5;font-weight: 600;width:8vw;height:2.4vw" class="py-3 px-8 mx-0 text-base rounded-lg text-white trans bg-lf-teal hover:bg-lf-teal-dark-3 hover:shadow-lg-teal font-lf-semi-bold flex-no-shrink">Compute</button></div>';
                        return;
                    } else {
                        alert(data.message);
                        window.location.href = '/psi';
                        return;
                    }
                }
            });
        }

        function uploadFile() {
            'use strict';

            var files = document.getElementById("upfile").files;
            var file = files[0];
            var title = file.name;

            if (title.substr(-5, 5) != '.xlsx') {
                alert("Only supports uploading data in xlsx format!");
                return;
            }

            var reader = new FileReader();
            var wb;

            var user1 = participant.toLowerCase() + '_participant';
            if (username.toLowerCase() == initiator.toLowerCase()) {
                user1 = initiator.toLowerCase() + '_initiator';
            }

            reader.onload = function (e) {
                var data = e.target.result;
                wb = XLSX.read(data, {
                    type: 'binary'
                });

                var data = JSON.stringify(XLSX.utils.sheet_to_json(wb.Sheets[wb.SheetNames[0]]));
                var vec = JSON.parse(data);

                for (let i = 0; i < vec.length; ++i) {
                    if (!vec[i].hasOwnProperty("data") || !vec[i].hasOwnProperty("common") || Object.keys(vec[i]).length != 2) {
                        alert("The uploaded xslx format is not up to standard!");
                        return;
                    }
                    vec[i].data = vec[i].data.toString();
                    vec[i].common = vec[i].common.toString();
                }

                var data = JSON.stringify(vec)

                var username = window.sessionStorage.getItem("userName");
                var key = window.sessionStorage.getItem("session_key");

                var key_str_arr = key.split(",");

                var key_arr = [];
                for (let i = 0; i < 32; i++) {
                    key_arr.push(parseInt(key_str_arr[i]))
                }

                var key_str = bin2String(key_arr);
                var iv = Uint8Array.from([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]);
                var iv_str = bin2String(iv);

                var rawinput_struct = {
                    a: data
                }
                var rawinput_str = JSON.stringify(rawinput_struct);

                var cipher = forge.cipher.createCipher('AES-CBC', key_str);
                cipher.start({ iv: iv_str });
                cipher.update(forge.util.createBuffer(rawinput_str));
                cipher.finish();
                var encrypted = cipher.output;

                var user2;
                if (username.toLowerCase() == initiator.toLowerCase()) {
                    user2 = participant;
                } else {
                    user2 = initiator;
                }

                var package_struct = {
                    user: username.toLowerCase(),
                    data: btoa(encrypted.data),
                    user2: user2.toLowerCase()
                }

                var package_str = JSON.stringify(package_struct);

                var background2 = document.getElementById("background2");
                background2.innerHTML = '<div style="left:24.3vw;top:1.5vw;position: absolute;"><img src="../static/image/a2.png" style="width:50vw"></div><div style="left: 42.5vw;top: 7vw;position: absolute;"><img src="../static/image/load.gif" style="width:15vw"></div> <p align="center" style="font-family: \'Skia\', sans-serif;position: absolute;top: 19vw; font-size: 0.9vw;color: #999999;left:43vw;line-height: 1.5;text-align: justify;">Waiting for [' + user2 + '] to upload the file...</p><div id="button3" style="left: 61vw;top: 25vw;position: absolute;"><button style="height:40px;font-family: \'Skia\', sans-serif;background-color:#d5d5d5;font-weight: 600;width:8vw;height:2.4vw" class="py-3 px-8 mx-0 text-base rounded-lg text-white trans bg-lf-teal hover:bg-lf-teal-dark-3 hover:shadow-lg-teal font-lf-semi-bold flex-no-shrink">Compute</button></div>';

                $.ajax({
                    url: "/psi_upload",
                    async: true,
                    method: "POST",
                    data: { "package_str": package_str, "user1": user1 },
                    success: function (data) {
                        if (data.res === "1") {
                            document.getElementById("background2").innerHTML = '<div style="left:24.3vw;top:1.5vw;position: absolute;"><img src="../static/image/a2.png" style="width:50vw"></div><div style="left: 46vw;top: 12vw;position: absolute;"><img src="../static/image/circle.gif" style="width:8vw"></div><div id="button3" style="left: 61vw;top: 25vw;position: absolute;"><button onclick="compute()" style="height:40px;font-family: \'Skia\', sans-serif;font-weight: 600;width:8vw;height:2.4vw" class="py-3 px-8 mx-0 text-base rounded-lg text-white trans bg-lf-teal hover:bg-lf-teal-dark-3 hover:shadow-lg-teal font-lf-semi-bold flex-no-shrink">Compute</button></div>';
                            return;
                        } else {
                            alert(data.message);
                            window.location.href = '/psi';
                            return;
                        }
                    }
                });

            };

            reader.readAsBinaryString(file);

        }

        function bin2String(array) {
            return String.fromCharCode.apply(String, array);
        }

        var data_list;

        function compute() {
            'use strict';
            var username = window.sessionStorage.getItem("userName");
            var key = window.sessionStorage.getItem("session_key");

            var key_str_arr = key.split(",");

            var key_arr = [];
            for (let i = 0; i < 32; i++) {
                key_arr.push(parseInt(key_str_arr[i]))
            }

            var key_str = bin2String(key_arr);
            var iv = Uint8Array.from([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]);
            var iv_str = bin2String(iv);

            var user2;
            if (username.toLowerCase() == initiator.toLowerCase()) {
                user2 = participant;
            } else {
                user2 = initiator;
            }

            var pattern_struct = {
                a: user2.toLowerCase(),
            }
            var pattern_str = JSON.stringify(pattern_struct);

            var cipher = forge.cipher.createCipher('AES-CBC', key_str);
            cipher.start({ iv: iv_str });
            cipher.update(forge.util.createBuffer(pattern_str));
            cipher.finish();
            var encrypted = cipher.output;

            var package_struct = {
                user: username.toLowerCase(),
                data: btoa(encrypted.data)
            }

            var package_str = JSON.stringify(package_struct);

            var user1 = participant.toLowerCase() + '_participant';
            if (username.toLowerCase() == initiator.toLowerCase()) {
                user1 = initiator.toLowerCase() + '_initiator';
            }

            $.ajax({
                url: "/psi_compute",
                async: false,
                method: "POST",
                data: { "package_str": package_str, "user1": user1 },
                success: function (data) {
                    if (data.res === "1") {
                        var decipher = forge.cipher.createDecipher('AES-CBC', key_str);
                        decipher.start({ iv: iv_str });
                        decipher.update(forge.util.createBuffer(atob(data.message)));
                        var result = decipher.finish();

                        var data_list_str = JSON.parse(decipher.output.data).a;
                        var data_list = JSON.parse(data_list_str).a;
                        console.log(data_list);

                        if (data_list.length == 0) {
                            document.getElementById("background2").innerHTML = '<div style="left:24.3vw;top:1.5vw;position: absolute;"><img src="../static/image/a3.png" style="width:50vw"></div><p align="center" style="font-family: \'Skia\', sans-serif;position: absolute;top: 15vw; font-size: 1.2vw;color: #999999;left:37vw;line-height: 1.5;text-align: justify;">The same data was not found in the computation.</p><div id="button3" style="left: 61vw;top: 25vw;position: absolute;"><button onclick="back()" style="height:40px;font-family: \'Skia\', sans-serif;font-weight: 600;width:8vw;height:2.4vw" class="py-3 px-8 mx-0 text-base rounded-lg text-white trans bg-lf-teal hover:bg-lf-teal-dark-3 hover:shadow-lg-teal font-lf-semi-bold flex-no-shrink">Compute</button></div>';
                            return;
                        }
                        var html = '<div style="left:24.3vw;top:1.5vw;position: absolute;"><img src="../static/image/a3.png" style="width:50vw"></div><div style="left: 46vw;top: 11vw;position: absolute;"><button onclick="download()" style="height:40px;font-family: \'Skia\', sans-serif;font-weight: 600;width:8vw;height:2.4vw" class="py-3 px-8 mx-0 text-base rounded-lg text-white trans bg-lf-teal hover:bg-lf-teal-dark-3 hover:shadow-lg-teal font-lf-semi-bold flex-no-shrink">Download</button></div>';
                        html = html + '<table hidden id="table1" border="1" cellspacing="5" cellpadding="5" >' + '<thead><tr><td>data1</td><td>common</td><td>data2</td></tr></thead><tbody>';
                        for (var i = 0; i < data_list.length; i++) {
                            html = html + '<tr><td>' + data_list[i].data1 + '</td><td>' + data_list[i].common + '</td><td>' + data_list[i].data2 + '</td></tr>'
                        }
                        html = html + '</tbody></table>'
                        document.getElementById('background2').innerHTML = html;
                        document.getElementById('background2').style.paddingBottom = "20vw";

                        return;
                    } else {
                        alert(data.message);
                        window.location.href = '/psi';
                        return;
                    }
                }
            });
        }

        function download() {
            'use strict';
            var table = document.querySelector("#table1");
            var sheet = XLSX.utils.table_to_sheet(table1);
            openDownloadDialog(sheet2blob(sheet), 'result.xlsx');
        }

        function sheet2blob(sheet, sheetName) {
            sheetName = sheetName || 'sheet1';
            var workbook = {
                SheetNames: [sheetName],
                Sheets: {}
            };
            workbook.Sheets[sheetName] = sheet;

            var wopts = {
                bookType: 'xlsx',
                bookSST: false,
                type: 'binary'
            };
            var wbout = XLSX.write(workbook, wopts);
            var blob = new Blob([s2ab(wbout)], {
                type: "application/octet-stream"
            });
            function s2ab(s) {
                var buf = new ArrayBuffer(s.length);
                var view = new Uint8Array(buf);
                for (var i = 0; i != s.length; ++i) view[i] = s.charCodeAt(i) & 0xFF;
                return buf;
            }
            return blob;
        }

        function openDownloadDialog(url, saveName) {
            if (typeof url == 'object' && url instanceof Blob) {
                url = URL.createObjectURL(url);
            }
            var aLink = document.createElement('a');
            aLink.href = url;
            aLink.download = saveName || '';
            var event;
            if (window.MouseEvent) event = new MouseEvent('click');
            else {
                event = document.createEvent('MouseEvents');
                event.initMouseEvent('click', true, false, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
            }
            aLink.dispatchEvent(event);
        }

        function back() {
            'use strict';
            window.location.href = '/psi';
            return;
        }
    </script>
</body>

</html>